<!DOCTYPE html>
<html style=" min-height: 100%; position: relative; background-color:black">
<head style='background: #a6a6a6'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Gestion de Turnos"]Gestion de turnos</title>
    <link id="favicon" rel="shortcut icon" type="image/png" href="@Url.Content("~/images/favicon.png")">

    <environment include="Development">

        <link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">

        <link href="@Url.Content("~/css/estilos.css")" rel="stylesheet" type="text/css" />


    </environment>
    <environment exclude="Development">
    </environment>
</head>

<body style="margin: 0; margin-bottom: 40px;">
    <header>
        <div class="w3l-header" id="home">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark pl-0 pr-0">
                    <a class="navbar-brand m-0" asp-area="" asp-controller="Home" asp-action="Index"><span class="fa fa-hospital-o"></span> Dr. Ramírez Luis </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon fa fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item mr-lg-4">
                                <a class="nav-link pl-0 pr-0" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                            </li>
                            <li class="nav-item mr-lg-4">
                                <a class="nav-link pl-0 pr-0" asp-area="" asp-controller="Turnos" asp-action="Index">Turnos</a>
                            </li>
                            <li class="nav-item mr-lg-4">
                                <a class="nav-link pl-0 pr-0" asp-area="" asp-controller="Pacientes" asp-action="Index">Pacientes</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <partial name="_CookieConsentPartial" />

    @RenderBody()

    <footer style="
            background-color: black;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 40px;
            color: white;
            padding-bottom: 50px">
        <section class="w3l-footers-1">
            <div class="footer py-3">
                <div class="container">
                    <div class="footer-content">
                        <div class="row">
                            <div class="col-lg-8 footer-left">
                                <a href="https://www.ort.edu.ar/"><img src="~/images/ortimage.jpeg" style="height:100px; margin-top:-16px" /></a>
                            </div>
                            <div class="col-lg-3 footer-right text-lg-right text-center mt-lg-0 mt-3" style="padding-top:5px">
                                <ul class="social m-0 p-0">
                                    <li><a href="https://github.com/romeramatias"> Romera</a></li>
                                    <li><a href="https://aulavirtual.instituto.ort.edu.ar/user/profile.php?id=2825">Fajgenblum</a></li>
                                    <li><a href="https://github.com/juaniarguello">Arguello</a></li>
                                    <li><a href="https://aulavirtual.instituto.ort.edu.ar/user/profile.php?id=2812">Czernuszka</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/jquery-1.7.2.js")"></script>
    <script src="@Url.Content("~/js/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.countup.js")"></script>
    <script src="@Url.Content("~/js/jquery.prettyPhoto.js")"></script>
    <script src="@Url.Content("~/js/jquery.quicksand.js")"></script>
    <script src="@Url.Content("~/js/jquery.waypoints.min.js")"></script>
    <script src="@Url.Content("~/js/owl.carousel.js")"></script>
    <script src="@Url.Content("~/js/script.js")"></script>


</body>
</html>
