@model IEnumerable<CentroDeTurnos.Models.Admin>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <main role="main" class="pb-3">
        <h2 class="h2-index">Administradores</h2>

            <div id="left" class="left-index">
                <p>
                    <a asp-action="Create" class="btn btn-primary">Crear nuevo Administrador</a>
                </p>
            </div>
       
        <table class="table">
            <thead>
                <tr class="tr-index">
                    <th>
                        @Html.DisplayNameFor(model => model.Mail)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="tr-index2">
                        <td>
                            @Html.DisplayFor(modelItem => item.Mail)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Borrar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </main>
</div>