@model CentroDeTurnos.Models.Paciente

@{
    ViewData["Title"] = "Delete";
}
<div class="container">
    <main role="main" class="pb-3">
        <h2>Delete</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Paciente</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Apellido)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Apellido)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Direccion)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Dni)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Dni)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Telefono)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Mail)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Mail)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Delete" class="btn btn-default" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    </main>
</div>