@model CentroDeTurnos.Models.Paciente

@{
    ViewData["Title"] = "Delete";
}
<div class="container">
    <main role="main" class="pb-3">
        <h2 class="letra-nunito-header">¿Estas seguro de que quieres eliminar este paciente?</h2>
        <div>
            <h4>Detalles del paciente</h4>
            <hr />
            <dl class="letra-nunito-texto">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Apellido)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Apellido)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Direccion)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Dni)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Dni)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Telefono)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Mail)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Mail)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Borrar" class="btn btn-primary" />
                <a asp-action="Index">Volver a la lista de pacientes</a>
            </form>
        </div>
    </main>
</div>