@model CentroDeTurnos.Models.Paciente

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <main role="main" class="pb-3">
        <h2 class="letra-nunito-header">Detalles</h2>

        <div>
            <h4>Paciente</h4>
            <hr />
            <dl class="letra-nunito-texto">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Apellido)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Apellido)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Direccion)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Dni)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Dni)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Telefono)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Mail)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Mail)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Editar</a>
            <a asp-action="Index">Volver a la lista de pacientes</a>
        </div>
    </main>
</div>