@model IEnumerable<CentroDeTurnos.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <main role="main" class="pb-3">

        <h2 class="h2-index">Lista de Pacientes</h2>
        <div id="container" class="container-index">
            <div id="left" class="left-index">
                <form method="get" asp-action="Index">
                    <p class="p-index">
                        Buscar paciente: <input type="search" class="form-control mr-sm-2 input-index" placeholder="Ingrese Apellido" value="@ViewData["Obtenerpacientes"]" name="stringBusqueda">
                        <input class="btn btn-primary" type="submit" value="Buscar" />
                        <a asp-action="Index">Ver todos los Pacientes</a>
                    </p>
                </form>
            </div>
            <div id="right" class="right-index">
                <p>
                    <a asp-action="Create" class="btn btn-primary">Agregar un nuevo Paciente</a>
                </p>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr class="tr-index">
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Direccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dni)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mail)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="tr-index2">
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dni)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mail)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Borrar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</div>