@model CentroDeTurnos.Models.Turno

@{
    ViewData["Title"] = "Delete";
}
<div class="container">
    <main role="main" class="pb-3">
        <h2 class="letra-nunito-header">¿Estas seguro de que quieres eliminar este turno?</h2>
        <div>
            <h4>Detalles del turno</h4>
            <hr />
            <dl class="letra-nunito-texto">
                <dt>
                    @Html.DisplayNameFor(model => model.TipoTurno)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TipoTurno)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FechaTurno)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FechaTurno)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.paciente)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.paciente.Apellido)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Borrar" class="btn btn-primary" />
                <a asp-action="Index">Volver a la lista de turnos</a>
            </form>
        </div>
    </main>
</div>