@model CentroDeTurnos.Models.Turno

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <main role="main" class="pb-3">
        <h2>Detalles</h2>

        <div>
            <h4>Turno</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.TipoTurno)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TipoTurno)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FechaTurno)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => modelItem.FechaTurno) @Html.DisplayFor(modelItem => modelItem.FechaTurno.TimeOfDay)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.paciente)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.paciente.Apellido)  @Html.DisplayFor(model => model.paciente.Nombre)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
            <a asp-action="Index">Volver a la lista de turnos</a>
        </div>
    </main>
</div>