@model IEnumerable<CentroDeTurnos.Models.Turno>


@{
    ViewData["Title"] = "Index";
}



<div class="container">
    <main role="main" class="pb-3">
        <!--MATIAS-->
        <h2 style="font-weight: 700; font-size: 40px; line-height: 80px; color: black;">Lista de Turnos</h2>

        <div id="container" style=" width: 100%; text-align: left;">

            <div id="left" style=" float: left; width: 300px; padding-bottom: 10px">
                <form method="get" asp-action="Index">
                    <p style="flex-direction:row">
                        Buscar turno: <input type="search" class="form-control mr-sm-2" style="width:250px;margin-bottom:15px" placeholder="Ingrese Apellido" value="@ViewData["Obtenerpacientes"]" name="stringBusqueda">
                        <input class="btn btn-primary" type="submit" value="Buscar" />
                        <a asp-action="Index">Ver todos los Turnos</a>
                    </p>
                </form>
            </div>

            <div id="right" style=" float: right; width: 200px;">
                <p>
                    <a asp-action="Create" class="btn btn-primary">Agendar un nuevo Turno a Paciente</a>
                </p>
            </div>

        </div>

        <table class="table">
            <thead>
                <tr style="         color: #fff;
                                    line-height: 1.4;
                                    background-color: #333333;
                                    font-family: 'Nunito', sans-serif;">
                    <th>
                        @Html.DisplayNameFor(model => model.FechaTurno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoTurno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.paciente.Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.paciente.Nombre)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr style="color: black;
                       line-height: 1.4;
                       background-color: #e6e6e6;
                       font-family: 'Nunito', sans-serif;">
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaTurno) @Html.DisplayFor(modelItem => item.FechaTurno.TimeOfDay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoTurno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.paciente.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.paciente.Nombre)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Borrar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </main>
</div>