@model IEnumerable<CentroDeTurnos.Models.Turno>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <main role="main" class="pb-3">
        <!--MATIAS-->
        <h2 class="h2-index">Lista de Turnos</h2>
        <div id="container" class="container-index">
            <div id="left" class="left-index">
                <form method="get" asp-action="Index">
                    <p class="p-index">
                        Buscar turno: <input type="search" class="form-control mr-sm-2 input-index" placeholder="Ingrese Apellido" value="@ViewData["Obtenerpacientes"]" name="stringBusqueda">
                        <input class="btn btn-primary" type="submit" value="Buscar" />
                        <a asp-action="Index">Ver todos los Turnos</a>
                    </p>
                </form>
            </div>

            <div class="right-index">
                <p>
                    <a asp-action="Create" class="btn btn-primary">Agendar un nuevo Turno a Paciente</a>
                </p>
            </div>

            <div class="right-index">
                <a asp-area="" asp-controller="Turnos" asp-action="IndexUrgencia" class="btn btn-primary-urgencia" style="background-color: crimson; color: white; padding-bottom: 18px; padding-top: 18px; text-align: justify;">Ver turnos de Urgencia</a>
            </div>

        </div>

            <table class="table">
                <thead>
                    <tr class="tr-index">
                        <th>
                            @Html.DisplayNameFor(model => model.FechaTurno)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TipoTurno)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.paciente.Apellido)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.paciente.Nombre)
                        </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="tr-index2">
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaTurno) @Html.DisplayFor(modelItem => item.FechaTurno.TimeOfDay)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoTurno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.paciente.Apellido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.paciente.Nombre)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                                <a asp-action="Details" asp-route-id="@item.ID">Detalles</a> |
                                <a asp-action="Delete" asp-route-id="@item.ID">Borrar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

</main>
</div>