@model IEnumerable<CentroDeTurnos.Models.Turno>

@{
    ViewData["Title"] = "Turnos";
}

<h2>Lista de Turnos</h2>

<p>
    <a asp-action="Create">Agregar nuevo Turno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoTurno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaTurno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.paciente.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoTurno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaTurno)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Detalles" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Borrar" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
